
<div id="app-header" class="black white-text row" style="border-bottom: medium solid cornflowerblue">
  <div class="col s1">
    <a href="#" class="btn">RUN <i class="fa fa-play"></i></a>
  </div>
  <div class="col s2">
    <div class="dropdown dropdown-dark">
      <select style="display: inline" name="two" class="dropdown-select" (change)="onSelectLanguage()" [(ngModel)]="editMgr.editor_language">
        <option *ngFor="let language of language_options" [value]="language">{{language}}</option>
      </select>
    </div>
  </div>
  <div class="col s2">
    <div class="dropdown dropdown-dark">
      <select style="display: inline" name="three" class="dropdown-select" >
        <option *ngFor="let theme of theme_options" [value]="theme">{{theme}}</option>
      </select>
    </div>
  </div>
  <div class="col s2">
    <h5>{{ details.room_details.room_name }}</h5>
  </div>
  <div id="room_users" class="col s3" style="margin-top:10px">
    <user-badge [is_admin]="details.room_details.room_owner?'admin':''" [user]="user" *ngFor="let user of details.room_details.users">

    </user-badge>
  </div>

  <div class="col s2">
    <span *ngIf="room_owner()" style="font-size: 12px">
      <a href="#invite-candidate" class="btn btn-floating modal-trigger left"><i class="fas fa-user-plus"></i></a>
    </span>
    <div class="icon-wrapper">
       <i class="fa fa-comments fa-2x"></i>
       <span class="xbadge red white-text left">99</span>
    </div>
  </div>
  <div class="left">




  </div>

</div>
<!-- MODALS -->
<div id="view-invitation" class="modal">
    <div class="modal-content">
      <h4>View Invitation</h4>
        <div class="row" *ngIf="selected_user">
            {{ selected_user.realname }}
            {{ selected_user.nickname }}
            {{ selected_user.email }}
        </div>
    <div class="modal-footer">
      <a href="#!" (click)="removeInvitation()" class="modal-action modal-close waves-effect waves-green btn-flat">Remove Invitation</a>

    </div>
</div>
<div id="invite-candidate" class="modal">
    <div class="modal-content">
      <h4>Invite Candidate</h4>
      <div class="row">
            <form class="col s12" method="post">
              <div class="row">
                <div class="input-field col s6">
                  <input [(ngModel)]="new_candidate.real_name" (keyup)="onUpdateInvitee()" id="realname" name="real_name" type="text" class="validate">
                  <label for="realname">Real Name</label>
                </div>
                <div class="input-field col s6">
                  <input [(ngModel)]="new_candidate.nickname" placeholder="Placeholder" id="nickname" name="nickname" type="text" class="validate">
                  <label for="nickname">Nickname</label>
                </div>

              </div>


              <div class="row">
                <div class="input-field col s12">
                  <input [(ngModel)]="new_candidate.email" name="email" id="email" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>

            </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" (click)="onInviteCandidate()" class="modal-action modal-close waves-effect waves-green btn-flat">Invite User</a>
    </div>
</div>
