
.my_btn{
  background: #555;
  padding: 2px 8px;
  border-radius:9px;
  color: white;
}
.my_btn.is_admin{
  background: #636145;
}
.my_btn.admin:before{
  position:relative;
  top:1px;
  left:-5px;
  font-size:20px;
  color:#222;
  content:"\25cf";
}
.my_btn.admin.active:before{
  color:#4c5;
}
.my_btn.admin.inactive:before{
  color:#c45;
}

